.anuncios{
    display: flex;
    background-color: black;
    width: 100vw;
    height: auto;
    justify-content:space-around;
}
.anuncio-item{
    background-color: aqua;
    color: white;
    padding: 1px 20px;
}

main{
    height: 70vw;
}